<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thymeleaf Fragments</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/index-body-style.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/index-header-style.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/onPost-style.css">
    <link rel="stylesheet" th:href="@{/css/index-header-style.css}">
    <link rel="stylesheet" th:href="@{/css/index-body-style.css}">
    <link rel="stylesheet" th:href="@{/css/onPost-style.css}">
</head>

<body>
    <!-- Header -->
    <header th:fragment="header">
        <nav class="header-nav main-bg">
            <div class="header-logo-container main-bg">
                <div class="header-logo">
                    <a th:href="@{/index?id=1}" class="rebbird-logo">Rebbird</a>
                </div>
            </div>
            <div class="header-category-container">
                <div th:if="${categoryName} != null" th:text="'~/' + ${categoryName}" class="header-category third-bg">
                    ~/Videojuegos</div>
            </div>
            <div class="search-container">
                <div class="header-search-bar">
                    <form th:action="@{/search}" class="input-group" method="get">
                        <input class="form-control mr-sm-2" type="search" size="30" name="keyword"
                            placeholder="Buscar en Rebbird" aria-label="Search" required>
                        <button class="search-button primary-bg" type="submit">
                            <img th:src="@{/img/Magnifying Glass.png}" alt="search-icon" class="search-icon">
                        </button>
                    </form>
                </div>
            </div>

            <!-- User Login -->
            <div th:if="${userLogin}" class="header-user-log">
                <div class="user-profile">
                    <button class="user-profile-btn">
                        <div class="user-profile-img-div">
                            <img th:src="@{${userProfileImg}}" alt="user-profile-img" class="user-profile-img">
                        </div>
                        <div class="user-profile-name" th:text=${userName}>
                            Cucharoth
                        </div>
                    </button>
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out" />
                    </form>
                </div>
            </div>


            <!-- User noLog -->
            <div th:unless="${userLogin}" class="header-user-nolog">
                <div class="user-nolog-login">
                    <a href="log-in.html" class="user-button-login">
                        Login
                    </a>
                </div>
                <div class="user-nolog-register">
                    <a href="sign-in.html" class="user-button-register">
                        Register
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <!-- Sidebar -->
    <div class="category-container main-bg" th:fragment="sidebar">
        <div class="category-title-container">
            <div class="category-title">TEMAS</div>
        </div>
        <div class="button-container main-bg">
            <a th:href="@{/index?id=1}" class="category-btn">~/Videojuegos</a>
            <a th:href="@{/index?id=2}" class="category-btn">~/Series</a>
            <a th:href="@{/index?id=3}" class="category-btn">~/Películas</a>
            <a th:href="@{/index?id=4}" class="category-btn">~/Música</a>
            <a th:href="@{/index?id=5}" class="category-btn">~/Ciencia</a>
            <a th:href="@{/index?id=6}" class="category-btn">~/Deportes</a>
            <a th:href="@{/index?id=7}" class="category-btn">~/Mundo</a>
            <a th:href="@{/index?id=8}" class="category-btn">~/Política</a>
            <a th:href="@{/index?id=9}" class="category-btn">~/Programación</a>
        </div>
    </div>

</body>

</html>