<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/index-header-style.css}">
    <link rel="stylesheet" th:href="@{/css/index-body-style.css}">
    <link rel="stylesheet" th:href="@{/css/onPost-style.css}">
</head>

<body>
    <div th:fragment="posts" class="post-div">
            <!-- Post iteration -->
            <div class="post third-bg" th:each="postInfo : ${posts}">

                <!-- Delete post modal -->
                <div th:id="borrar-publicacion-modal+${postInfo[0].id}" class="modal fade" id="borrar-publicacion-modal" tabindex="-1"
                    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header primary-bg">
                                <h5 class="modal-title" id="borrarPublicacionModalLabel">Borrar publicación</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body third-bg">
                                <span>¿Desea borrar esta publicación?</span>
                                <span th:text="${postInfo[0].title}" class="modal-post-title"></span>
                                <span class="warning-color">¡Esta acción es permanente!</span>
                            </div>
                            <div class="modal-footer third-bg">
                                <button type="button" class="secondary-btn" data-dismiss="modal">Volver</button>
                                <form th:action="@{/post/delete(postId=${postInfo[0].id}, categoryId=${postInfo[0].category.id})}"
                                    th:method="post">
                                    <button type="submit" class="primary-btn">Borrar</button>
                                </form>
                
                            </div>
                        </div>
                    </div>
                </div>

                <!-- header -->
                <div class="post-header">
                    <div class="post-title-div">
                        <a th:text="${postInfo[0].getTitle()}" th:href="@{/post(id=${postInfo[0].getId()}) }"
                            class="post-title">
                            In-game ignore…let’s make it better!</a>
                    </div>
                    <div th:text="${postInfo[0].category.name}" class="post-category">Videojuegos</div>
                </div>

                <!-- content -->
                <div class="post-content">
                    <div class="post-user-div">
                        <div class="post-user-img">
                            <img th:src="@{${postInfo[0].author.profileImg.link}}" alt="post-user-img"
                                class="user-pfl-img">
                        </div>
                        <div class="post-user-name" th:text="${postInfo[0].getAuthor().getName()}">
                            Perl
                        </div>
                    </div>

                    <!-- reaction -->
                    <div class="post-reaction-div">
                        <div th:text="${postInfo[0].getReactionAmount()}" class="reaction-value">10</div>

                        <!-- With user logged in -->
                        <div th:if="${userLogin}" class="reactions">
                            <form
                                hx:post="|/reaction?type=like&post-id=${postInfo[0].id}&category-id=${postInfo[0].category.id}|"
                                hx-target="closest .post-reaction-div" hx-swap="outerHTML"
                                hx-select="#post-reaction-div" method="post" class="reaction-form">
                                <button type="submit" class="like-btn">
                                    <span th:if="${postInfo[3]}" alt="dislike-img"
                                        class="material-symbols-outlined like-btn-icon-active">thumb_up</span>
                                    <span th:unless="${postInfo[3]}" alt="dislike-img"
                                        class="material-symbols-outlined like-btn-icon">thumb_up</span>
                                </button>
                            </form>
                            <form
                                hx:post="|/reaction?type=dislike&post-id=${postInfo[0].id}&category-id=${postInfo[0].category.id}|"
                                hx-target="closest .post-reaction-div" hx-swap="outerHTML"
                                hx-select="#post-reaction-div" method="post" class="reaction-form">
                                <button type="submit" class="dislike-btn">
                                    <span th:if="!${postInfo[3]} AND ${postInfo[2]}" alt="dislike-img"
                                        class="material-symbols-outlined dislike-btn-icon-active">thumb_down</span>
                                    <span th:if="${postInfo[3]} OR !${postInfo[2]}" alt=" dislike-img"
                                        class="material-symbols-outlined dislike-btn-icon">thumb_down</span>

                                </button>
                            </form>
                        </div>

                        <!-- With Visitor -->
                        <div th:unless="${userLogin}" class="reactions">
                            <form
                                th:action="@{/reaction(type='like', post-id=${postInfo[0].id}, category-id=${postInfo[0].category.id})}"
                                method="post" class="reaction-form">
                                <button type="submit" class="like-btn">
                                    <span alt="dislike-img"
                                        class="material-symbols-outlined like-btn-icon">thumb_up</span>
                                </button>
                            </form>
                            <form
                                th:action="@{/reaction(type='dislike', post-id=${postInfo[0].id}, category-id=${postInfo[0].category.id})}"
                                method="post" class="reaction-form">
                                <button type="submit" class="dislike-btn">
                                    <span alt="dislike-img"
                                        class="material-symbols-outlined dislike-btn-icon">thumb_down</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- footer -->
                <div class="post-footer">
                    <div class="post-comments-div">
                        <div class="post-comments">Comments:</div>
                        <div th:text="${postInfo[1]}" class="post-comments-value">6</div>
                    </div>
                    <div th:if="${postInfo[0].author.id} == ${userId} OR ${isAdmin}" class="delete-post-container">
                        <a type="button" data-toggle="modal" data-target="#borrar-publicacion-modal"
                            class="delete-post-btn" th:attr="data-target='#borrar-publicacion-modal'+${postInfo[0].id}">
                            <span class="material-icons block-icon">block</span>
                        </a>
                    </div>
                    <div class="post-date" th:text="${postInfo[0].getDate()}">23-03-22</div>
                </div>
            </div>
<!-- htmx get call para insertar post recursivamente -->
<div hx:get="|/index/?id=${posts.iterator().next()[0].category.id}&page=${page}|" hx-trigger="intersect once"
    hx-swap="outerHTML" hx-indicator=".htmx-indicator" class="inf-scrolling"></div>
    </div>

    <div th:fragment="reaction" th:each="postInfo : ${posts}" class="post-reaction-div" id="post-reaction-div">
        <div th:text="${postInfo[0].getReactionAmount()}" class="reaction-value">10</div>
        <div id="reactions-login" class="reactions">
            <form hx:post="|/reaction?type=like&post-id=${postInfo[0].id}&category-id=${postInfo[0].category.id}|"
                hx-target="closest .post-reaction-div" hx-swap="outerHTML" hx-select="#post-reaction-div" method="post"
                class="reaction-form">
                <button type="submit" class="like-btn">
                    <span th:if="${postInfo[3]}" alt="dislike-img"
                        class="material-symbols-outlined like-btn-icon-active">thumb_up</span>
                    <span th:unless="${postInfo[3]}" alt="dislike-img"
                        class="material-symbols-outlined like-btn-icon">thumb_up</span>
                </button>
            </form>
            <form hx:post="|/reaction?type=dislike&post-id=${postInfo[0].id}&category-id=${postInfo[0].category.id}|"
                hx-target="closest .post-reaction-div" hx-swap="outerHTML" hx-select="#post-reaction-div" method="post"
                class="reaction-form">
                <button type="submit" class="dislike-btn">
                    <span th:if="!${postInfo[3]} AND ${postInfo[2]}" alt="dislike-img"
                        class="material-symbols-outlined dislike-btn-icon-active">thumb_down</span>
                    <span th:if="${postInfo[3]} OR !${postInfo[2]}" alt=" dislike-img"
                        class="material-symbols-outlined dislike-btn-icon">thumb_down</span>

                </button>
            </form>
        </div>
    </div>

    <div class="col-9" th:fragment="profile-posts">
        <div>
    
        </div>
    </div>

    <div th:fragment="empty"></div>
</body>

</html>