<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/panel_usuario_style.css">
    <link rel="stylesheet" th:href="@{/css/panel_usuario_style.css}">
</head>

<body>
    <!-- header -->
    <header th:fragment="header">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/index?id=1}">Rebbird</a>
            </div>
        </nav>
    </header>

    <!-- content header -->
    <div th:fragment="content-header" class="row">
        <div class="col-3">
            <img th:src="@{${user.profileImg.link}}" alt="prfl-img" class="mx-auto d-block main-profile-img">
        </div>
        <div class="col-9">
            <h1 th:text="${user.name}">My name</h1>
            <p th:text="${user.descripcion}">Descripcion</p>
        </div>
    </div>

    <!-- sidebar -->
    <div th:fragment="sidebar" class="col-3">
        <div class="menu-panel">
            <div class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/index?id=1}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/profile(id=${userId})}">Historial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/profile/conf(id=${userId})}">Configuración</a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post" class="logout-div">
                        <button type="submit" value="Sign Out" class="sign-out-btn">Logout</button>
                    </form>
                </li>
            </div>
        </div>
    </div>

    <!-- Post de panel usuario historial -->
    <div th:fragment="post" class="col-9">
        <div class="publicacion">
            <div class="row">
                <div class="col-10">
                    <!-- <h5>titulo publicacion -->
                </div>
                <div class="col-2">
                    <!-- <p>categoria -->
                </div>
            </div>

            <div class="row">
                <!-- <p> content post -->
            </div>
            <div class="row">
                <div class="col-9">
                    <div class="d-inline-flex align-items-center">
                        <div class="p-2">
                            <!-- <img> img autor post -->
                        </div>
                        <div class="p-2">

                            <!-- <h6> nombre autor -->
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="d-flex flex-row-reverse">
                        <div class="p-2">
                            <!-- <h6> contador likes -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <!-- <p> Comentarios: contador comentarios -->
                </div>
                <div class="col-1">
                    <!-- btn delete post -->
                </div>
                <div class="col-2">
                    <!-- <p> fecha publicacion -->
                </div>
            </div>
        </div>
    </div>

</body>

</html>