<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/panel_usuario_style.css">
    <link rel="stylesheet" th:href="@{/css/panel_usuario_style.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <!-- header -->
    <header th:fragment="header">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/index?id=1}">Rebbird</a>
            </div>
        </nav>
    </header>

    <!-- content header -->
    <div th:fragment="content-header" class="row">
        <div class="col-3">
            <img th:src="@{${user.profileImg.link}}" alt="prfl-img" class="mx-auto d-block main-profile-img">
        </div>
        <div class="col-9">
            <h1 th:text="${user.name}">My name</h1>
            <p th:text="${user.descripcion}">Descripcion</p>
        </div>
    </div>

    <!-- sidebar -->
    <div th:fragment="sidebar" class="col-3">
        <div class="menu-panel">
            <div class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/profile(id=${user.id})}">Historial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/profile/conf(id=${user.id})}">Configuración</a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post" class="logout-div">
                        <button type="submit" value="Sign Out" class="sign-out-btn">Logout</button>
                    </form>
                </li>
            </div>
        </div>
    </div>

    <!-- Post de panel usuario historial -->
    <div th:fragment="post" class="col-9">
        <div class="publicacion">
            <div th:if="${postsEmpty}">No has realizado ninguna publicacion :[</div>
            
            <div th:each="postInfo: ${posts}" class="post">
                <div th:id="borrar-publicacion-modal+${postInfo[0].id}" class="modal fade" id="borrar-publicacion-modal"
                    tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header primary-bg">
                                <h5 class="modal-title" id="borrarPublicacionModalLabel">Borrar publicación</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                                    <div class="modal-body third-bg">
                                        <span>¿Desea borrar esta publicación?</span>
                                        <span th:text="${postInfo[0].title}" class="modal-post-title"></span>
                                        <span class="warning-color">¡Esta acción es permanente!</span>
                                    </div>
                                    <div class="modal-footer third-bg">
                                        <button type="button" class="secondary-btn" data-dismiss="modal">Volver</button>
                                        <form th:action="@{/post/delete(postId=${postInfo[0].id}, categoryId=${postInfo[0].category.id})}" th:method="post">
                                            <button type="submit" class="primary-btn">Borrar</button>
                                        </form>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
<!-- header -->
<div class="post-header">
    <div class="post-title-div">
        <a th:text="${postInfo[0].getTitle()}" th:href="@{/post(id=${postInfo[0].getId()}) }" class="post-title">
            In-game ignore…let’s make it better!</a>
    </div>
                            <div th:text="${postInfo[0].category.name}" class="post-category">Videojuegos</div>
                        </div>
<!-- content -->
<div class="post-content">
    <div class="post-user-div">
        <div class="post-user-img">
            <img th:src="@{${postInfo[0].author.profileImg.link}}" alt="post-user-img" class="user-pfl-img">
        </div>
                                <div class="post-user-name" th:text="${postInfo[0].getAuthor().getName()}">
                                    Perl
                                </div>
                                </div>
                                </div>
<!-- footer -->
<div class="post-footer">
    <div class="post-comments-div">
        <div class="post-comments">Comentarios:</div>
        <div th:text="${postInfo[1]}" class="post-comments-value">6</div>
    </div>
                            <div class="delete-post-container">
                                <a type="button" data-toggle="modal" data-target="#borrar-publicacion-modal" class="delete-post-btn"
                                    th:attr="data-target='#borrar-publicacion-modal'+${postInfo[0].id}">
                                    <span class="material-icons block-icon">block</span>
                                </a>
                            </div>
                            <div class="post-date" th:text="${postInfo[0].getDate()}">23-03-22</div>
                            </div>
                            </div>
                            </div>

    </div>
</body>

</html>