:root {
    --bg_color: #001E17;
    --primary_color: #029270;
    --secondary_color: #001F18;
    --text_color: #EBFFFA;
    --accent_color: #87FDE1;
    --third_color: #083C30;
    --alert_color: #D23C3C;
}

body,
html {
    padding: 0 !important;
    margin: 0 !important;
    height: 94.09%;
    background-color: var(--bg_color);
}

.main {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
    overflow: hidden;
}

.category-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px;
    min-width: 350px;
}

.category-title-container {
    height: 5%;
    display: flex;
    align-items: center;
    min-height: 41px;
}

.category-title {
    display: flex;
    color: #EBFFFA;
    font-family: Roboto;
    font-size: 26px;
    font-weight: bold;
}

.button-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.category-btn {
    text-decoration: none;
    background-color: #02927000;
    color: #EBFFFA;
    font-family: Roboto;
    font-size: 24px;
    padding: 15px;
    text-align: left;
    transition: background-color 0.35s, color 0.35s;
    border: none;
}

.category-btn:hover {
    background-color: #029270;
    color: #212529;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px;
    min-width: 777px;
}

.content-header {
    display: flex;
    height: 44px;
    margin: 8px 0px;
}

.crear-publicacion-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.crear-publicacion-btn {
    text-decoration: none;
    background-color: #029270;
    color: #212529;
    font-family: Roboto;
    font-size: 24px !important;
    font-weight: 520;
    border-radius: 20px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.35s, color 0.35s;
}

.crear-publicacion-btn:hover {
    background-color: #87FDE1;
    color: #212529;
}

.content-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 93%;
}

.post-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
    max-height: 830px;
}

.post-container>* {
    margin: 5px 0;
}

.post {
    display: flex;
    flex-direction: column;
    height: 174px;
    border-radius: 20px;
    border-color: #EBFFFA;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 174px;
    border-style: solid;
    border-width: 1px;
}

.post-header {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-title-div {
    flex: 1;
    display: flex;
}

.post-title {
    color: #EBFFFA;
    height: 30px;
    font-family: Roboto;
    font-size: 24px;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: hidden;
}

.post-category {
    color: #EBFFFA;
    font-family: Roboto;
    font-size: 20px;
}

.post-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-user-div {
    display: flex;
}

.post-user-name-div {
    display: flex;
    align-items: center;
}

.post-user-name {
    display: flex;
    color: #EBFFFA;
    font-family: Roboto;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
}

.post-user-img {
    display: flex;
    margin-right: 10px;
}

.user-pfl-img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.post-reaction-div {
    display: flex;
}

.reactions {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.reaction-value {
    color: #EBFFFA;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Roboto;
    font-size: 20px;
    align-items: center;
}

.like-btn {
    display: flex;
    background-color: #02927000;
    justify-content: center;
    align-items: center;
    border: none;
}

.like-btn-icon {
    display: flex;
    font-size: 35px !important;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.like-btn-icon-active {
    display: flex;
    color: #D23C3C;
    font-size: 35px !important;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.like-btn-icon:hover {
    opacity: 0.5;
}

.like-btn-icon-active:hover {
    opacity: 0.7;
}

.reaction-form {
    display: flex;
}

.dislike-btn {
    display: flex;
    background-color: #02927000;
    justify-content: center;
    align-items: center;
    border: none;
}

.dislike-btn-icon {
    display: flex;
    font-size: 35px !important;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.dislike-btn-icon-active {
    display: flex;
    color: #D23C3C;
    font-size: 35px !important;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.dislike-btn-icon:hover {
    opacity: 0.5;
}

.dislike-btn-icon-active:hover {
    opacity: 0.7;
}

.post-footer {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-comments-div {
    color: #EBFFFA;
    flex: 1;
    display: flex;
    font-family: Roboto;
    font-size: 16px;
}

.post-comments-value {
    margin-left: 4px;
    font-family: Roboto;
    font-size: 16px;
}

.post-date {
    color: #EBFFFA;
    font-family: Roboto;
    font-size: 20px;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.post-container::-webkit-scrollbar {
    width: 0.5em;
}

.post-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.post-container::-webkit-scrollbar-thumb {
    background-color: #029270;
    outline: 1px solid #212529;
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 10px;
}

.content-header-create-post {
    display: flex;
    height: 65px;
    border-radius: 10px;
    align-items: center;
    padding-left: 10px;
    padding-right: 450px;
    margin-bottom: 5px;
    min-height: 65px;
    min-width: 317px;
}

.create-post-container {
    flex: 1;
    display: flex;
}

.create-post-btn {
    display: flex;
    align-items: center;
    border-radius: 20px !important;
    border: none;
    padding: 0;
    margin: 0;
    transition: background-color 0.35s;
}

.create-post-btn:hover {
    background-color: #87FDE1;
}

.arrow-up-icn {
    font-size: 40px !important;
}

.post-container-login {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
    max-height: 780px;
}

.post-container-login::-webkit-scrollbar {
    width: 0.5em;
}

.post-container-login::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.post-container-login::-webkit-scrollbar-thumb {
    background-color: #029270;
    outline: 1px solid #212529;
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 10px;
}

.delete-post-container {
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.delete-post-btn {
    text-decoration: none;
    background-color: #21252900;
    display: flex;
    border: none;
    --visibility: hidden;
}

.block-icon {
    color: #D23C3C;
    font-size: 30px !important;
}

.close {
    border-style: none;
    border-radius: 50%;
    font-size: 15px;
}

#borrar-publicacion-modal {
    color: #EBFFFA;
    border-color: #212529 !important;
}

.modal-footer {
    background-color: #083C30 !important;
    border-color: #212529 !important;
}

.modal-body {
    display: flex;
    flex-direction: column;
    color: #EBFFFA;
    justify-content: center;
}

.modal-post-title {
    display: flex;
    font-style: italic;
    margin: 0 10px;
    height: 40px;
    align-items: center;
}

.content-message-container {
    padding: 10px 10px;
    border-radius: 10px;
}

.content-message {
    display: flex;
    font-size: 20px;
    color: #EBFFFA;
}

.warning-color {
    color: #D23C3C;
    font-weight: bold;
}

.indicator-container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.htmx-indicator {
    width: 30px;
    height: 30px;
}