@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,700;1,400&display=swap');

:root {
    --bg_color: #001E17;
    --primary_color: #029270;
    --secondary_color: #001F18;
    --text_color: #EBFFFA;
    --accent_color: #87FDE1;
    --third_color: #083C30;
    --alert_color: #D23C3C;

}


html {
    background-color: var(--third_color);
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: var(--primary_color);
}

.navbar {
    background-color: var(--third_color) !important;
}

nav {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--third_color) !important;
}

.contenedor {
    background-color: var(--third_color);
}

.container {
    background-color: var(--bg_color);
    color: var(--text_color);
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: justify;
    color: var(--text_color);
    font-family: 'Roboto Mono', monospace;
    border: 50px solid #083C30 !important;
    border-radius: 70px 70px 70px 70px;
}


.publicacion {
    background-color: var(--third_color);
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-radius: 20px 20px 20px 20px;
    border: 5px solid #001F18;

}


.autor {
    display: inline-flex;
    font-size: 14px;
}

.configuracion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}

.btn {
    background-color: var(--primary_color) !important;
    border: 20px transparent !important;
}


.nav-item {
    background-color: var(--primary_color) !important;
    border: 15px solid #001F18;
    border-radius: 30px 30px 30px 30px;
    text-align: center;

}

.like_btn {
    background-color: var(--third_color);
    border: none;
}


.dislike_btn {
    background-color: var(--third_color);
    border: none;
}

.contenedor_eliminar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--third_color);
    margin: 0;
    text-align: center;
}

.eliminar_cuenta {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: var(--bg_color);
    color: var(--text_color);
    font-family: 'Roboto', monospace;

}

.eliminar_cuenta .advertencia {
    color: var(--alert_color);

}

.eliminar_cuenta .eliminar_botones {
    display: flex;
    text-align: center;
}

.eliminar_btn {
    color: var(--text_color);
    background-color: var(--alert_color);
    border: none;
    margin: 0 10px;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
}

.regresar_btn {
    color: var(--text_color);
    background-color: var(--bg_color);
    border: none;
    margin: 0 10px;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
}

.editar_form {
    background-color: var(--third_color);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 20px 20px 20px 20px;

}

.nombre_form {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 1px;
}

.guardar_btn {
    background-color: var(--primary_color);
    color: var(--text_color);
    border: none;
    padding: 5px;
    border-radius: 10px;
}

.editar_btn {
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.categorias_form {
    padding-bottom: 20px;
}

.logout-div {
    background-color: var(--primary_color);
    display: flex;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 30px;
}

.sign-out-btn {
    background-color: var(--primary_color);
    color: var(--text_color);
    display: flex;
    padding: 0 !important;
    margin: 0 !important;
    border-width: 0 !important;
    width: 100%;
    justify-content: center;
}

.main-profile-img {
    width: 200px;
    border-radius: 100px;
}

.historial-user-img {
    width: 40px;
    border-radius: 20px;
}

.eliminar-cuenta-btn {
    color: var(--text_color);
    font-family: 'Roboto mono';
    text-decoration: none;
}