<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:hx="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rebbird</title>
    <link rel="stylesheet" href="/src/main/resources/static/styles/index-body-style.css">
    <link rel="stylesheet" href="/src/main/resources/static/styles/index-header-style.css">
    <link rel="stylesheet" href="/src/main/resources/static/styles/onPost-style.css">
    <link rel="stylesheet" th:href="@{/css/index-header-style.css}">
    <link rel="stylesheet" th:href="@{/css/index-body-style.css}">
    <link rel="stylesheet" th:href="@{/css/onPost-style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- Header -->
    <header th:insert="~{fragments/general.html :: header}"></header>


    <main class="main main-bg">

        <!-- Sidebar -->
        <div th:replace="~{fragments/general.html :: sidebar}"></div>

        <div class="content-container main-bg">
            <div th:if="${userLogin}" class="content-header-create-post third-bg">
                <div class="create-post-container third-bg">
                    <form class="input-group">
                        <div class="user-profile-img-div">
                            <img th:src="@{${userProfileImg}}" alt="user-profile-img" class="user-profile-img">
                        </div>
                        <input class="form-control mr-sm-2" type="search" placeholder="Nueva publicación"
                            aria-label="Search">
                        <button class="create-post-btn primary-bg" type="submit">
                            <span class="material-icons arrow-up-icn">arrow_circle_up</span>
                        </button>
                    </form>
                </div>
            </div>
            <div th:unless="${userLogin}" class="content-header main-bg">
                <div class=" crear-publicacion-container">
                    <a th:href="@{/login/from-create-post}" href="" class="crear-publicacion-btn">Crear
                        publicación</a>
                </div>
            </div>

            <!-- Posts -->
            <div class="content-main main-bg">
                <div th:unless="${postsEmptyCheck.iterator().hasNext()}" class="content-message-container third-bg">
                    <div class="content-message">No existen publicaciones con estas características :[</div>
                </div>
                <div class="post-container-login" id="posts">

                    <!-- Post iteration -->
                    <div class="post bg-4 third-bg" th:each="postInfo : ${posts}">

                        <!-- Delete post modal -->
                        <div th:id="borrar-publicacion-modal+${postInfo[0].id}" class="modal fade"
                            id="borrar-publicacion-modal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header primary-bg">
                                        <h5 class="modal-title" id="borrarPublicacionModalLabel">Borrar publicación</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body third-bg">
                                        <span>¿Desea borrar esta publicación?</span>
                                        <span th:text="${postInfo[0].title}" class="modal-post-title"></span>
                                        <span class="warning-color">¡Esta acción es permanente!</span>
                                    </div>
                                    <div class="modal-footer third-bg">
                                        <button type="button" class="secondary-btn" data-dismiss="modal">Volver</button>
                                        <form
                                            th:action="@{/post/delete(postId=${postInfo[0].id}, categoryId=${postInfo[0].category.id})}"
                                            th:method="post">
                                            <button type="submit" class="primary-btn">Borrar</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- header -->
                        <div class="post-header">
                            <div class="post-title-div">
                                <a th:text="${postInfo[0].getTitle()}" th:href="@{/post(id=${postInfo[0].getId()}) }"
                                    class="post-title">
                                    In-game ignore…let’s make it better!</a>
                            </div>
                            <div th:text="${postInfo[0].category.name}" class="post-category">Videojuegos</div>
                        </div>

                        <!-- content -->
                        <div class="post-content">
                            <div class="post-user-div">
                                <div class="post-user-img">
                                    <img th:src="@{${postInfo[0].author.profileImg.link}}" alt="post-user-img"
                                        class="user-pfl-img">
                                </div>
                                <div class="post-user-name" th:text="${postInfo[0].getAuthor().getName()}">
                                    Perl
                                </div>
                            </div>

                            <!-- reaction -->
                            <div class="post-reaction-div">
                                <div th:text="${postInfo[0].getReactionAmount()}" class="reaction-value">10</div>

                                <!-- With user logged in -->
                                <div th:if="${userLogin}" class="reactions" id="reactions-login">
                                    <form
                                        hx:post="|/reaction?type=like&post-id=${postInfo[0].id}&category-id=${postInfo[0].category.id}|"
                                        hx-target="closest .post-reaction-div" hx-swap="outerHTML"
                                        hx-select="#post-reaction-div" method="post" class="reaction-form">
                                        <button type="submit" class="like-btn">
                                            <span th:if="${postInfo[2]}" alt="like-img"
                                                class="material-symbols-outlined like-btn-icon-active">thumb_up</span>
                                            <span th:unless="${postInfo[2]}" alt="like-img"
                                                class="material-symbols-outlined like-btn-icon">thumb_up</span>
                                        </button>
                                    </form>
                                    <form
                                        hx:post="|/reaction?type=dislike&post-id=${postInfo[0].id}&category-id=${postInfo[0].category.id}|"
                                        hx-target="closest .post-reaction-div" hx-swap="outerHTML"
                                        hx-select="#post-reaction-div" method="post" class="reaction-form" id="here">
                                        <button type="submit" class="dislike-btn">
                                            <span th:if="!${postInfo[2]} AND ${postInfo[1]}" alt="dislike-img"
                                                class="material-symbols-outlined dislike-btn-icon-active">thumb_down</span>
                                            <span th:if="${postInfo[2]} OR !${postInfo[1]}" alt=" dislike-img"
                                                class="material-symbols-outlined dislike-btn-icon">thumb_down</span>

                                        </button>
                                    </form>
                                </div>

                                <!-- With Visitor -->
                                <div th:unless="${userLogin}" class="reactions">
                                    <form
                                        th:action="@{/reaction(type='like', post-id=${postInfo[0].id}, category-id=${postInfo[0].category.id})}"
                                        method="post" class="reaction-form">
                                        <button type="submit" class="like-btn">
                                            <span alt="dislike-img"
                                                class="material-symbols-outlined like-btn-icon">thumb_up</span>
                                        </button>
                                    </form>
                                    <form
                                        th:action="@{/reaction(type='dislike', post-id=${postInfo[0].id}, category-id=${postInfo[0].category.id})}"
                                        method="post" class="reaction-form">
                                        <button type="submit" class="dislike-btn">
                                            <span alt="dislike-img"
                                                class="material-symbols-outlined dislike-btn-icon">thumb_down</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- footer -->
                        <div class="post-footer">
                            <div class="post-comments-div">
                                <div class="post-comments">Comments:</div>
                                <div th:text="${postInfo[0].getCommentsAmount()}" class="post-comments-value">6</div>
                            </div>
                            <div th:if="${postInfo[0].author.id} == ${userId} OR ${isAdmin}" class="delete-post-container">
                                <a type="button" data-toggle="modal" data-target="#borrar-publicacion-modal"
                                    class="delete-post-btn"
                                    th:attr="data-target='#borrar-publicacion-modal'+${postInfo[0].id}">
                                    <span class="material-icons block-icon">block</span>
                                </a>
                            </div>
                            <div class="post-date" th:text="${postInfo[0].getDate()}">23-03-22</div>
                        </div>
                    </div>

                    <!-- Infinite scrolling-->
                    <div th:remove="!${postsEmptyCheck.iterator().hasNext()} OR ${isSearch} ? all" id="infinite-div">
                        <div hx:get="|/index/?id=${posts.iterator().next()[0].category.id}&page=2|"
                            hx-trigger="intersect once" hx-swap="outerHTML" hx-indicator=".htmx-indicator"
                            hx-target="closest #infinite-div" hx-select=".post-div">
                        </div>
                    </div>
                    <div class="indicator-container">
                        <img class="htmx-indicator"
                            th:src="@{https://raw.githubusercontent.com/SamHerbert/SVG-Loaders/master/svg-loaders/spinning-circles.svg}"
                            alt="">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>