<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="../static/styles/style-log-sign-pass.css" />
    <link rel="stylesheet" th:href="@{/css/style-log-sign-pass.css}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>Inicio de sesión | Rebbird</title>
</head>

<body class="body d-flex flex-column justify-content-center">
    <nav class="navbar navbar-expand-lg p-3">
        <div class="container-fluid">
            <a class="navbar-brand texto-fuente" th:href="@{/index?id=1}">Rebbird</a>
            <a th:href="@{/register}">
                <button class="btn btn-outline-success boton-color texto-fuente" type="submit">Register</button>
            </a>
        </div>
    </nav>

    <div class="d-flex flex-column justify-content-center align-items-center container-fluid h-100 pt-5 mt-5">
        <div th:if="${fromCreatePost}"
            class="text-center d-flex flex-column justify-content-center align-items-center container-fluid message-card col-sm-6 col-md-5 col-lg-3">
            <p class="text-input texto-fuente pt-3">¡Para crear una publicacion necesitas acceder al sistema!</p>
        </div>
        <div th:if="${message}"
            class="text-center d-flex flex-column justify-content-center align-items-center container-fluid message-card col-sm-6 col-md-5 col-lg-3">
            <p th:text="${message}" class="text-input texto-fuente pt-3"></p>
        </div>
        <form th:action="@{/login}" method="post" class="pt-5 form-div">
            <div class="form-card px-5 pb-3">
                <div class="input_usuario">
                    <div>
                        <label class="text-input texto-fuente pt-4 pb-4" for="floaing-text">Usuario</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" id="floaing-text" placeholder="usuario"
                            name="username" pattern="[^' ']+" minlength="3" maxlength="13" oninvalid="invalidMsg(this);" oninput="invalidMsg(this);" required/>
                    </div>
                </div>
                <div class="input_contraseña">
                    <div>
                        <label class="text-input texto-fuente pt-5 pb-4" for="floaing-password">Contraseña</label>
                    </div>
                    <div>
                        <input type="password" class="form-control" id="floaing-password" placeholder="contraseña"
                            name="password" pattern="[^' ']+" minlength="3" maxlength="13" oninvalid="invalidMsg(this);" oninput="invalidMsg(this);" required/>
                    </div>
                </div>
                <div class="container-fluid py-4 px-0 mt-4 d-flex justify-content-between">
                    <a>
                        <button class="btn btn-outline-success boton texto-fuente"
                            type="submit">Acceder</button>
                    </a>
                    <a class="acceso texto-fuente" th:href="@{/password-reset}">Olvide mi contraseña</a>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" th:src="@{js/invalidMsg.js}"></script>
</body>

</html>