<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rebbird</title>
    <link rel="stylesheet" href="/src/main/resources/static/styles/index-body-style.css">
    <link rel="stylesheet" href="/src/main/resources/static/styles/index-header-style.css">
    <link rel="stylesheet" href="/src/main/resources/static/styles/onPost-style.css">
    <link rel="stylesheet" th:href="@{/css/index-header-style.css}">
    <link rel="stylesheet" th:href="@{/css/index-body-style.css}">
    <link rel="stylesheet" th:href="@{/css/onPost-style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
</head>

<body>
    <!-- Header -->
    <header th:insert="~{fragments/general.html :: header}"></header>

    <main class="main main-bg">
        <!-- Sidebar -->
        <div th:replace="~{fragments/general.html :: sidebar}"></div>

        <div class="content-container main-bg">
            <div class="content-main main-bg">
                <div id="post-container" class="on-post-container-login third-bg">
                    <div class="main-post bg-4">
                        <div class="main-post-author-div">
                            <div class="main-post-author">
                                <div class="main-post-author-img">
                                    <img src="" alt="author-pfl-img" class="main-post-author-pfl-img">
                                </div>
                                <div th:text="${post.getAuthor().getName()}" class="main-post-author-name">Perl</div>
                            </div>
                        </div>
                        <div class="main-post-header">
                            <div th:text="${post.getTitle()}" class="main-post-title">In-game ignore…let’s make it
                                better!.</div>
                            <div class="main-post-info">
                                <div th:text="${post.getCategory.getName}" class="main-post-category">Videojuegos</div>
                                <div th:text="${post.getDate}" class="main-post-date">23-09-23</div>
                            </div>
                        </div>
                        <div class="main-post-content-div">
                            <div th:text="${post.getContent}" class="main-post-content">I want to start off by making it
                                clear, that this is regards
                                to how the IN-GAME ignore function works. Please do not mistake this for a thread about
                                the forums. This is specifically regarding the in-game ignore feature. <br><br>

                                Current ways that this system lets us down:<br><br>

                                To ignore another player, we are required to log into each of our characters on that
                                server and add the player to our ignore list.
                                Similar to number 1 above, if we know this ignored player on other servers, we have to
                                again log into all our characters on each server to ignore them.
                                If we add a player to our ignore list, they can still see when we log in and where we
                                are in-game via the friends list. (This one actually blows my mind)
                                What needs to be implemented (please feel free to add any additional positive ideas in
                                this thread):<br><br>

                                When we ignore another player, it should ignore their whole account on all of OUR
                                characters. I shouldn’t need to log into every character I have or create and add the
                                same other players to my ignore. Basically put, it should be battle.net-wide.
                                It should make it so that the player on my ignore list can no longer see when I’m
                                online, nor can they contact me on any realm or any character (new or old). An
                                account-wide ignore for in-game.<br><br>
                                The ignored player should not be able to see anything I say publically in-game. It
                                should be a true ignore and should go both ways. I don’t want to be able to see anything
                                they chat about either…ever.<br><br>
                                It should also prevent any grouping via the systems in-place to create groups. This one
                                is likely a big ask, but it already works in LFD/LFR for payers you have on ignore, so
                                let’s go a step further and make it ALL groups of any kind.
                                We often have posts in the CS forums where people are trying to avoid, block or ignore
                                another player (for many valid reasons) and it is difficult when ignore still lets the
                                other player see when you’re logged in and where you are in-game, with zero ways to
                                prevent them from seeing it (short of paid services to wipe you from their friend list).
                            </div>
                        </div>
                    </div>
                    <div class="main-post-comment-container">
                        <div class="main-post-comment bg-4">
                            <div class="comment-header">
                                <div class="comment-author">
                                    <div class="comment-author-img">
                                        <img src="/src/main/resources/static/assests/Cover/3.png"
                                            alt="cmnt-author-pfl-img" class="comment-author-pfl-img">
                                    </div>
                                    <div class="main-post-author-name">Puntme</div>
                                </div>
                                <div class="comment-date">25-09-23</div>
                            </div>
                            <div class="comment-content-container">
                                <div class="comment-content">
                                    Agree. I never understood why this wasnt implemented from the beginning.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- TODO: REMOVE WHEN NO USER-->
                <!-- Comentar Post -->
                <div class="comentar-post-container main-bg">
                    <div class="comentar-post main-bg">
                        <button id="comentar-post-btn" class="comentar-post-btn"
                            onclick="setCommentImputVisibility()">Comentar
                            publicación</button>
                        <div id="comentar-post-imput-div" class="third-bg">
                            <div class="comentar-post-imput">
                                <textarea required name="body" id="summernote" class="summernote-onpost"></textarea>
                            </div>
                            <div class="footer-comentar-imput">
                                <div class="send-comentario">
                                    <button class="send-comentario-btn primary-btn">Comentar</button>
                                </div>
                                <div id="back-from-comment">
                                    <button id="back-from-comment-btn" class="primary-btn"
                                        onclick="setCommentVisBackFromImput()">Volver</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
        </script>
    <script type="text/javascript">
        function setCommentImputVisibility() {
            var comentar_post_imput = document.getElementById("comentar-post-imput-div");
            var comentar_post_btn = document.getElementById("comentar-post-btn");
            var post_container = document.getElementById("post-container");
            console.log(post_container.scrollHeight);
            post_container.style.maxHeight = '600px';
            comentar_post_imput.style.display = 'flex'
            comentar_post_btn.style.display = 'none';
        }

        function setCommentVisBackFromImput() {
            var comentar_post_imput = document.getElementById("comentar-post-imput-div");
            var comentar_post_btn = document.getElementById("comentar-post-btn");
            var post_container = document.getElementById("post-container");
            post_container.style.maxHeight = '800px';
            comentar_post_imput.style.display = 'none';
            comentar_post_btn.style.display = 'flex';
        }
    </script>
    <script>
        $('#summernote').summernote({
            placeholder: 'Ingrese aquí su comentario.',
            tabsize: 2,
            height: 150,
            width: 1194,
            focus: true,
            disableResizeEditor: true,
            toolbar: [
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['codeview', 'help']]
            ]
        });
    </script>
</body>

</html>