<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rebbird</title>
    <link rel="stylesheet" href="/src/main/resources/static/styles/index-body-style.css">
    <link rel="stylesheet" href="/src/main/resources/static/styles/index-header-style.css">
    <link rel="stylesheet" href="/src/main/resources/static/styles/onPost-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="header-nav main-bg">
            <div class="header-logo-container main-bg">
                <div class="header-logo">
                    <a href="/src/main/resources/templates/index-noLogin.html" class="rebbird-logo">Rebbird</a>
                </div>
            </div>
            <div class="header-category-container">
                <div class="header-category third-bg">~/Videojuegos</div>
            </div>
            <div class="search-container">
                <div class="header-search-bar">
                    <form class="input-group">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar en Rebbird"
                            aria-label="Search">
                        <button class="search-button primary-bg" type="submit">

                            <img src="/src/main/resources/static/assests/Magnifying Glass.png" alt="search-icon"
                                class="search-icon">
                        </button>
                    </form>
                </div>
            </div>
            <div class="header-user-nolog">
                <div class="user-nolog-login">
                    <button class="user-button-login">
                        Login
                    </button>
                </div>
                <div class="user-nolog-signin">
                    <button class="user-button-signin">
                        Signin
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <main class="main main-bg">
        <div class="category-container main-bg">
            <div class="category-title-container">
                <div class="category-title">TEMAS</div>
            </div>
            <div class="button-container main-bg">
                <button class="category-btn">~/Videojuegos</button>
                <button class="category-btn">~/Deportes</button>
                <button class="category-btn">~/Arte</button>
                <button class="category-btn">~/Música</button>
                <button class="category-btn">~/Programación</button>
                <button class="category-btn">~/Noticias</button>
            </div>
        </div>
        <div class="content-container main-bg">
            <div class="content-main main-bg">
                <div class="on-post-container third-bg">
                    <div class="main-post bg-4">
                        <div class="main-post-author-div">
                            <div class="main-post-author">
                                <div class="main-post-author-img">
                                    <img src="/src/main/resources/static/assests/Cover/6.png" alt="author-pfl-img"
                                        class="main-post-author-pfl-img">
                                </div>
                                <div class="main-post-author-name">Perl</div>
                            </div>
                        </div>
                        <div class="main-post-header">
                            <div class="main-post-title">In-game ignore…let’s make it better!.</div>
                            <div class="main-post-info">
                                <div class="main-post-category">Videojuegos</div>
                                <div class="main-post-date">23-09-23</div>
                            </div>
                        </div>
                        <div class="main-post-content-div">
                            <div class="main-post-content">I want to start off by making it clear, that this is regards
                                to how the IN-GAME ignore function works. Please do not mistake this for a thread about
                                the forums. This is specifically regarding the in-game ignore feature. <br><br>

                                Current ways that this system lets us down:<br><br>

                                To ignore another player, we are required to log into each of our characters on that
                                server and add the player to our ignore list.
                                Similar to number 1 above, if we know this ignored player on other servers, we have to
                                again log into all our characters on each server to ignore them.
                                If we add a player to our ignore list, they can still see when we log in and where we
                                are in-game via the friends list. (This one actually blows my mind)
                                What needs to be implemented (please feel free to add any additional positive ideas in
                                this thread):<br><br>

                                When we ignore another player, it should ignore their whole account on all of OUR
                                characters. I shouldn’t need to log into every character I have or create and add the
                                same other players to my ignore. Basically put, it should be battle.net-wide.
                                It should make it so that the player on my ignore list can no longer see when I’m
                                online, nor can they contact me on any realm or any character (new or old). An
                                account-wide ignore for in-game.<br><br>
                                The ignored player should not be able to see anything I say publically in-game. It
                                should be a true ignore and should go both ways. I don’t want to be able to see anything
                                they chat about either…ever.<br><br>
                                It should also prevent any grouping via the systems in-place to create groups. This one
                                is likely a big ask, but it already works in LFD/LFR for payers you have on ignore, so
                                let’s go a step further and make it ALL groups of any kind.
                                We often have posts in the CS forums where people are trying to avoid, block or ignore
                                another player (for many valid reasons) and it is difficult when ignore still lets the
                                other player see when you’re logged in and where you are in-game, with zero ways to
                                prevent them from seeing it (short of paid services to wipe you from their friend list).
                            </div>
                        </div>
                    </div>
                    <div class="main-post-comment bg-4">
                        <div class="comment-header">
                            <div class="comment-author">
                                <div class="comment-author-img">
                                    <img src="/src/main/resources/static/assests/Cover/3.png" alt="cmnt-author-pfl-img"
                                        class="comment-author-pfl-img">
                                </div>
                                <div class="main-post-author-name">Puntme</div>
                            </div>
                            <div class="comment-date">25-09-23</div>
                        </div>
                        <div class="comment-content-container">
                            <div class="comment-content">
                                Agree. I never understood why this wasnt implemented from the beginning.
                            </div>
                        </div>
                    </div>
                    <div class="main-post-comment bg-4">
                        <div class="comment-header">
                            <div class="comment-author">
                                <div class="comment-author-img">
                                    <img src="/src/main/resources/static/assests/Cover/3.png" alt="cmnt-author-pfl-img"
                                        class="comment-author-pfl-img">
                                </div>
                                <div class="main-post-author-name">Semicasual</div>
                            </div>
                            <div class="comment-date">25-09-23</div>
                        </div>
                        <div class="comment-content-container">
                            <div class="comment-content">
                                It is infuriating ignoring/reporting the multi-paragraph guild addon spam + invite on
                                every single character I log on, and having to dedicate an ignore spot to their generic
                                brandless rerolled spam-bot alts. Oh, it’s been 5 minutes and they just deleted it +
                                rerolled another toon and now are spamming all 10+ of my toons again every time I relog?
                                Yay. <br><br>

                                My account placing you on ignore should ignore your entire account when it comes to
                                contacting my account for any reason.
                            </div>
                        </div>
                    </div>
                    <div class="main-post-comment bg-4">
                        <div class="comment-header">
                            <div class="comment-author">
                                <div class="comment-author-img">
                                    <img src="/src/main/resources/static/assests/Cover/3.png" alt="cmnt-author-pfl-img"
                                        class="comment-author-pfl-img">
                                </div>
                                <div class="main-post-author-name">Doobly</div>
                            </div>
                            <div class="comment-date">25-09-23</div>
                        </div>
                        <div class="comment-content-container">
                            <div class="comment-content">
                                first:
                                i would like to thank you for taking your time to write this lovely post regarding the
                                in-game ignore function. <br><br>

                                second:
                                well, that is just how the in-game world in world of warcraft operates.<br><br>

                                even if you were removed from the in-game friends list, then they could always just do a
                                /who to see if you are online.<br><br>

                                third:
                                i dont think it is that much of a hassle to place a person on ignore a couple times in
                                game, it only takes a few seconds.<br><br>

                                in conclusion, i believe that the current ignore system works fine, i genuinely don’t
                                think there are any issues with it, currently.

                                thanks again for sharing your opinion.

                                take care everyone and have a wonderful day
                            </div>
                        </div>
                    </div>
                    <div class="main-post-comment bg-4">
                        <div class="comment-header">
                            <div class="comment-author">
                                <div class="comment-author-img">
                                    <img src="/src/main/resources/static/assests/Cover/3.png" alt="cmnt-author-pfl-img"
                                        class="comment-author-pfl-img">
                                </div>
                                <div class="main-post-author-name">Thundertotem</div>
                            </div>
                            <div class="comment-date">25-09-23</div>
                        </div>
                        <div class="comment-content-container">
                            <div class="comment-content">
                                Very much in agreement on this.
                            </div>
                        </div>
                    </div>
                    <div class="main-post-comment bg-4">
                        <div class="comment-header">
                            <div class="comment-author">
                                <div class="comment-author-img">
                                    <img src="/src/main/resources/static/assests/Cover/3.png" alt="cmnt-author-pfl-img"
                                        class="comment-author-pfl-img">
                                </div>
                                <div class="main-post-author-name">Bravik</div>
                            </div>
                            <div class="comment-date">25-09-23</div>
                        </div>
                        <div class="comment-content-container">
                            <div class="comment-content">
                                At face value this isn’t a bad idea, but think of how the receiving player would view
                                the strike. I can see escalation being used if this were the case. An ignore is silent,
                                for the most part, unless the player keeps trying to communicate with you.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>