<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rebbird</title>
    <link rel="stylesheet" href="/src/main/resources/static/styles/index-body-style.css">
    <link rel="stylesheet" href="/src/main/resources/static/styles/index-header-style.css">
    <link rel="stylesheet" href="/src/main/resources/static/styles/onPost-style.css">
    <link rel="stylesheet" th:href="@{/css/index-header-style.css}">
    <link rel="stylesheet" th:href="@{/css/index-body-style.css}">
    <link rel="stylesheet" th:href="@{/css/onPost-style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
</head>

<body>
    <!-- Header -->
    <header th:insert="~{fragments/general.html :: header}"></header>

    <main class="main main-bg">
        <!-- Sidebar -->
        <div th:replace="~{fragments/general.html :: sidebar}"></div>

        <div class="content-container main-bg">
            <div class="content-main main-bg">
                <div id="post-container" class="on-post-container-login third-bg">
                    <div class="main-post bg-4">
                        <div class="main-post-author-div">
                            <div class="main-post-author">
                                <div class="main-post-author-img">
                                    <img th:src="@{${post.author.profileImg.link}}" alt="author-pfl-img"
                                        class="main-post-author-pfl-img">
                                </div>
                                <div th:text="${post.author.name}" class="main-post-author-name">Perl</div>
                            </div>
                        </div>
                        <div class="main-post-header">
                            <div th:text="${post.title}" class="main-post-title">In-game ignore…let’s make it
                                better!.</div>
                            <div class="main-post-info">
                                <div th:text="${post.category.name}" class="main-post-category">Videojuegos</div>
                                <div th:text="${post.date}" class="main-post-date">23-09-23</div>
                            </div>
                        </div>
                        <div class="main-post-content-div">
                            <div th:text="${post.content}" class="main-post-content">
                            </div>
                        </div>
                    </div>
                    <div th:each="comment : ${comments}" class="main-post-comment-container">
                        <div class="main-post-comment bg-4">
                            <div class="comment-header">
                                <div class="comment-author">
                                    <div class="comment-author-img">
                                        <img th:src="@{${comment.author.profileImg.link}}" alt="cmnt-author-pfl-img"
                                            class="comment-author-pfl-img">
                                    </div>
                                    <div th:text="${comment.author.name}" class="main-post-author-name">Puntme</div>
                                </div>
                                <div th:text="${#dates.format(comment.date, 'dd-MM-YY hh:mm')}" class="comment-date">
                                    25-09-23
                                </div>
                            </div>
                            <div class="comment-content-container">
                                <div th:utext="${comment.content}" class="comment-content">
                                    Agree. I never understood why this wasnt implemented from the beginning.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Comentar Post -->
                <div th:if="${userLogin}" class="comentar-post-container main-bg">
                    <div class="comentar-post main-bg">
                        <button id="comentar-post-btn" class="comentar-post-btn"
                            onclick="setCommentImputVisibility()">Comentar
                            publicación</button>
                        <form th:action="@{/post/comment/save(postId=${post.id})}" th:object="${newComment}"
                            method="post" name="comment-content" id="comentar-post-imput-div" class="third-bg">
                            <div class="comentar-post-imput">
                                <textarea th:field="*{content}" name="body" id="summernote" class="summernote-onpost"
                                    required></textarea>
                            </div>
                            <div class="footer-comentar-imput">
                                <div class="send-comentario">
                                    <button type="submit" class="send-comentario-btn primary-btn">Comentar</button>
                                </div>
                                <div id="back-from-comment">
                                    <button id="back-from-comment-btn" class="primary-btn"
                                        onclick="setCommentVisBackFromImput()">Volver</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
        </script>
    <script type="text/javascript">
        function setCommentImputVisibility() {
            var comentar_post_imput = document.getElementById("comentar-post-imput-div");
            var comentar_post_btn = document.getElementById("comentar-post-btn");
            var post_container = document.getElementById("post-container");
            console.log(post_container.scrollHeight);
            post_container.style.maxHeight = '600px';
            comentar_post_imput.style.display = 'flex'
            comentar_post_btn.style.display = 'none';
        }

        function setCommentVisBackFromImput() {
            var comentar_post_imput = document.getElementById("comentar-post-imput-div");
            var comentar_post_btn = document.getElementById("comentar-post-btn");
            var post_container = document.getElementById("post-container");
            post_container.style.maxHeight = '800px';
            comentar_post_imput.style.display = 'none';
            comentar_post_btn.style.display = 'flex';
        }
    </script>
    <script>
        $('#summernote').summernote({
            placeholder: 'Ingrese aquí su comentario.',
            tabsize: 2,
            height: 150,
            width: 1193,
            focus: true,
            disableResizeEditor: true,
            toolbar: [
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['forecolor']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['codeview', 'help']]
            ]
        });
    </script>
    <script type="text/javascript" th:src="@{js/invalidMsg.js}"></script>
</body>

</html>