<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rebbird</title>
    <link rel="stylesheet" href="/src/main/resources/static/styles/index-body-style.css">
    <link rel="stylesheet" href="/src/main/resources/static/styles/index-header-style.css">
    <link rel="stylesheet" href="/src/main/resources/static/styles/onPost-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="header-nav main-bg">
            <div class="header-logo-container main-bg">
                <div class="header-logo">
                    <a href="/src/main/resources/templates/index-noLogin.html" class="rebbird-logo">Rebbird</a>
                </div>
            </div>
            <div class="header-category-container">
                <div class="header-category third-bg">~/Category</div>
            </div>
            <div class="search-container">
                <div class="header-search-bar">
                    <form class="input-group">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar en Rebbird"
                            aria-label="Search">
                        <button class="search-button primary-bg" type="submit">

                            <img src="/src/main/resources/static/assests/Magnifying Glass.png" alt="search-icon"
                                class="search-icon">
                        </button>
                    </form>
                </div>
            </div>
            <div class="header-user-nolog">
                <div class="user-nolog-login">
                    <button class="user-button-login">
                        Login
                    </button>
                </div>
                <div class="user-nolog-signin">
                    <button class="user-button-signin">
                        Signin
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <main class="main main-bg">
        <div class="category-container main-bg">
            <div class="category-title-container">
                <div class="category-title">TEMAS</div>
            </div>
            <div class="button-container main-bg">
                <button class="category-btn">~/Videojuegos</button>
                <button class="category-btn">~/Deportes</button>
                <button class="category-btn">~/Arte</button>
                <button class="category-btn">~/Música</button>
                <button class="category-btn">~/Programación</button>
                <button class="category-btn">~/Noticias</button>
            </div>
        </div>
        <div class="content-container main-bg">
            <div class="content-main main-bg">
                <div class="on-post-container third-bg">
                    <div class="main-post bg-4">
                        <div class="main-post-author-div">
                            <div class="main-post-author">
                                <div class="main-post-author-img">
                                    <img src="/src/main/resources/static/assests/Cover/6.png" alt="author-pfl-img"
                                        class="main-post-author-pfl-img">
                                </div>
                                <div class="main-post-author-name">Author Name</div>
                            </div>
                        </div>
                        <div class="main-post-header">
                            <div class="main-post-title">Suspendisse sed nisi lacus sed. Condimentum lacinia quis vel
                                eros donec ac odio. A iaculis at erat pellentesque. Purus semper eget duis at. Pharetra
                                massa massa ultricies mi quis hendrerit dolor.</div>
                            <div class="main-post-info">
                                <div class="main-post-category">Música</div>
                                <div class="main-post-date">23-09-23</div>
                            </div>
                        </div>
                        <div class="main-post-content-div">
                            <div class="main-post-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquam nulla facilisi
                                cras fermentum odio eu feugiat pretium. Et tortor consequat id porta nibh venenatis cras
                                sed. Aliquet risus feugiat in ante metus dictum at. Maecenas pharetra convallis posuere
                                morbi leo. Libero enim sed faucibus turpis in eu mi bibendum neque. Sed vulputate mi sit
                                amet mauris commodo quis imperdiet massa. Condimentum lacinia quis vel eros donec ac
                                odio tempor. Proin libero nunc consequat interdum varius sit. Praesent tristique magna
                                sit amet purus gravida quis blandit turpis. <br><br>

                                Convallis a cras semper auctor neque vitae tempus quam. Non curabitur gravida arcu ac
                                tortor dignissim. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar.
                                Lobortis elementum nibh tellus molestie nunc non blandit massa. Molestie nunc non
                                blandit massa enim nec dui. Aliquam ultrices sagittis orci a scelerisque purus. Aenean
                                vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Orci a
                                scelerisque purus semper eget. Vitae tortor condimentum lacinia quis vel eros donec ac
                                odio. Nunc aliquet bibendum enim facilisis gravida neque convallis a. Ullamcorper morbi
                                tincidunt ornare massa eget egestas purus. Tellus in metus vulputate eu scelerisque
                                felis imperdiet. <br><br>

                                Suspendisse sed nisi lacus sed. Condimentum lacinia quis vel eros donec ac odio. A
                                iaculis at erat pellentesque. Purus semper eget duis at. Pharetra massa massa ultricies
                                mi quis hendrerit dolor. Turpis egestas maecenas pharetra convallis posuere morbi leo
                                urna. Tincidunt arcu non sodales neque sodales. Quisque id diam vel quam elementum
                                pulvinar. Scelerisque fermentum dui faucibus in ornare quam viverra orci. Nullam ac
                                tortor vitae purus. Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque.
                                Amet massa vitae tortor condimentum lacinia quis vel eros donec. Hendrerit gravida
                                rutrum quisque non tellus orci ac auctor. Malesuada fames ac turpis egestas maecenas. A
                                iaculis at erat pellentesque adipiscing commodo elit at. Enim ut sem viverra aliquet
                                eget. Orci porta non pulvinar neque laoreet suspendisse interdum consectetur. Vestibulum
                                morbi blandit cursus risus at ultrices. Odio ut sem nulla pharetra.</div>
                        </div>
                    </div>
                    <div class="main-post-comment bg-4">
                        <div class="comment-header">
                            <div class="comment-author">
                                <div class="comment-author-img">
                                    <img src="/src/main/resources/static/assests/Cover/3.png" alt="cmnt-author-pfl-img"
                                        class="comment-author-pfl-img">
                                </div>
                                <div class="main-post-author-name">Comment Author Name</div>
                            </div>
                            <div class="comment-date">25-09-23</div>
                        </div>
                        <div class="comment-content-container">
                            <div class="comment-content">
                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi tristique. Sed
                                blandit libero volutpat sed. Etiam non quam lacus suspendisse faucibus. Ridiculus mus
                                mauris
                                vitae ultricies leo integer malesuada nunc. Pretium nibh ipsum consequat nisl vel.
                                Aliquam
                                id diam maecenas ultricies mi eget mauris.
                            </div>
                        </div>
                    </div>
                    <div class="main-post-comment bg-4">
                        <div class="comment-header">
                            <div class="comment-author">
                                <div class="comment-author-img">
                                    <img src="/src/main/resources/static/assests/Cover/3.png" alt="cmnt-author-pfl-img"
                                        class="comment-author-pfl-img">
                                </div>
                                <div class="main-post-author-name">Comment Author Name</div>
                            </div>
                            <div class="comment-date">25-09-23</div>
                        </div>
                        <div class="comment-content-container">
                            <div class="comment-content">
                                Suspendisse sed nisi lacus sed. Condimentum lacinia quis vel eros donec ac odio. A
                                iaculis at erat pellentesque. Purus semper eget duis at. Pharetra massa massa ultricies
                                mi quis hendrerit dolor. Turpis egestas maecenas pharetra convallis posuere morbi leo
                                urna. Tincidunt arcu non sodales neque sodales. Quisque id diam vel quam elementum
                                pulvinar. Scelerisque fermentum dui faucibus in ornare quam viverra orci. Nullam ac
                                tortor vitae purus. Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque.
                                Amet massa vitae tortor condimentum lacinia quis vel eros donec. Hendrerit gravida
                                rutrum quisque non tellus orci ac auctor. Malesuada fames ac turpis egestas maecenas. A
                                iaculis at erat pellentesque adipiscing commodo elit at. Enim ut sem viverra aliquet
                                eget. Orci porta non pulvinar neque laoreet suspendisse interdum consectetur. Vestibulum
                                morbi blandit cursus risus at ultrices. Odio ut sem nulla pharetra.

                                Sed viverra tellus in hac habitasse platea dictumst. Sed risus pretium quam vulputate
                                dignissim suspendisse. Dignissim cras tincidunt lobortis feugiat vivamus at. Egestas
                                fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate. Orci ac
                                auctor augue mauris augue. Pharetra pharetra massa massa ultricies mi quis hendrerit
                                dolor magna. Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Orci a
                                scelerisque purus semper eget duis at. Sem integer vitae justo eget magna fermentum
                                iaculis. Ullamcorper sit amet risus nullam eget felis. Vitae elementum curabitur vitae
                                nunc sed velit dignissim sodales ut. Sapien pellentesque habitant morbi tristique
                                senectus et. Tristique senectus et netus et malesuada. Placerat vestibulum lectus mauris
                                ultrices eros in cursus turpis. Eget mauris pharetra et ultrices neque ornare aenean.
                                Tellus integer feugiat scelerisque varius morbi enim nunc faucibus a. Venenatis tellus
                                in metus vulputate eu scelerisque felis imperdiet proin. Sed felis eget velit aliquet
                                sagittis id consectetur.
                            </div>
                        </div>
                    </div>
                    <div class="main-post-comment bg-4">
                        <div class="comment-header">
                            <div class="comment-author">
                                <div class="comment-author-img">
                                    <img src="/src/main/resources/static/assests/Cover/3.png" alt="cmnt-author-pfl-img"
                                        class="comment-author-pfl-img">
                                </div>
                                <div class="main-post-author-name">Comment Author Name</div>
                            </div>
                            <div class="comment-date">25-09-23</div>
                        </div>
                        <div class="comment-content-container">
                            <div class="comment-content">
                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi tristique. Sed
                                blandit libero volutpat sed. Etiam non quam lacus suspendisse faucibus. Ridiculus mus
                                mauris
                                vitae ultricies leo integer malesuada nunc. Pretium nibh ipsum consequat nisl vel.
                                Aliquam
                                id diam maecenas ultricies mi eget mauris.
                            </div>
                        </div>
                    </div>
                    <div class="main-post-comment bg-4">
                        <div class="comment-header">
                            <div class="comment-author">
                                <div class="comment-author-img">
                                    <img src="/src/main/resources/static/assests/Cover/3.png" alt="cmnt-author-pfl-img"
                                        class="comment-author-pfl-img">
                                </div>
                                <div class="main-post-author-name">Comment Author Name</div>
                            </div>
                            <div class="comment-date">25-09-23</div>
                        </div>
                        <div class="comment-content-container">
                            <div class="comment-content">
                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi tristique. Sed
                                blandit libero volutpat sed. Etiam non quam lacus suspendisse faucibus. Ridiculus mus
                                mauris
                                vitae ultricies leo integer malesuada nunc. Pretium nibh ipsum consequat nisl vel.
                                Aliquam
                                id diam maecenas ultricies mi eget mauris.
                            </div>
                        </div>
                    </div>
                    <div class="main-post-comment bg-4">
                        <div class="comment-header">
                            <div class="comment-author">
                                <div class="comment-author-img">
                                    <img src="/src/main/resources/static/assests/Cover/3.png" alt="cmnt-author-pfl-img"
                                        class="comment-author-pfl-img">
                                </div>
                                <div class="main-post-author-name">Comment Author Name</div>
                            </div>
                            <div class="comment-date">25-09-23</div>
                        </div>
                        <div class="comment-content-container">
                            <div class="comment-content">
                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi tristique. Sed
                                blandit libero volutpat sed. Etiam non quam lacus suspendisse faucibus. Ridiculus mus
                                mauris
                                vitae ultricies leo integer malesuada nunc. Pretium nibh ipsum consequat nisl vel.
                                Aliquam
                                id diam maecenas ultricies mi eget mauris.
                            </div>
                        </div>
                    </div>
                    <div class="main-post-comment bg-4">
                        <div class="comment-header">
                            <div class="comment-author">
                                <div class="comment-author-img">
                                    <img src="/src/main/resources/static/assests/Cover/3.png" alt="cmnt-author-pfl-img"
                                        class="comment-author-pfl-img">
                                </div>
                                <div class="main-post-author-name">Comment Author Name</div>
                            </div>
                            <div class="comment-date">25-09-23</div>
                        </div>
                        <div class="comment-content-container">
                            <div class="comment-content">
                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi tristique. Sed
                                blandit libero volutpat sed. Etiam non quam lacus suspendisse faucibus. Ridiculus mus
                                mauris
                                vitae ultricies leo integer malesuada nunc. Pretium nibh ipsum consequat nisl vel.
                                Aliquam
                                id diam maecenas ultricies mi eget mauris.
                            </div>
                        </div>
                    </div>
                    <div class="main-post-comment bg-4">
                        <div class="comment-header">
                            <div class="comment-author">
                                <div class="comment-author-img">
                                    <img src="/src/main/resources/static/assests/Cover/3.png" alt="cmnt-author-pfl-img"
                                        class="comment-author-pfl-img">
                                </div>
                                <div class="main-post-author-name">Comment Author Name</div>
                            </div>
                            <div class="comment-date">25-09-23</div>
                        </div>
                        <div class="comment-content-container">
                            <div class="comment-content">
                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi tristique. Sed
                                blandit libero volutpat sed. Etiam non quam lacus suspendisse faucibus. Ridiculus mus
                                mauris
                                vitae ultricies leo integer malesuada nunc. Pretium nibh ipsum consequat nisl vel.
                                Aliquam
                                id diam maecenas ultricies mi eget mauris.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>