<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar cuenta</title>
    <link rel="stylesheet" href="../css/panel_usuario_style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</head>

<body>

<div class="contenedor_eliminar">
    <div class="eliminar_cuenta">
        <h6>¿Desea eliminar su cuenta de usuario?</h6>
        <p class="advertencia">¡Esta acción es irreversible!</p>
        <div class="eliminar_botones">
            <button class="eliminar_btn"><a th:href="@{/profile/deleteAccount(id=${user.id})}" class="eliminar-cuenta-btn">Eliminar
                cuenta</a></button>
            <button class="regresar_btn"><a th:href="@{/profile/conf(id=${user.id})}"
                                            class="nav-link text-white">Regresar</a></button>
        </div>

    </div>
</div>

</body>

</html>