<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración | editar avatar</title>
    <link rel="stylesheet" href="../css/panel_usuario_style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</head>

<body>
    <!-- header -->
    <header th:insert="~{fragments/profile.html :: header}"></header>

    <div class="contenedor">
        <div class="container">
            <!-- content header -->
            <div th:replace="~{fragments/profile.html :: content-header}"></div>

            <div class="row">
                <aside th:replace="~{fragments/profile.html :: sidebar}"></aside>
                <div class="col-9">
                    <div class="editar_form">
                        <div class="editar_avatar">
                            <form th:action="@{/profile/updateAvatar(id=${user.id})}" method="post">
                                <p>Cambiar avatar</p>
                                <div class="dropdown">
                                    <input type="hidden" name="id" th:value="${user.id}" />
                                    <select name="profileImg" class="form-select">
                                        <option selected>Avatar</option>
                                        <option th:value="1"> Opción 1
                                        </option>
                                        <option th:value="2"> Opción 2
                                        </option>
                                        <option th:value="3"> Opción 3
                                        </option>
                                        <option th:value="4"> Opción 4
                                        </option>
                                        <option th:value="5"> Opción 5
                                        </option>
                                        <option th:value="6"> Opción 6
                                        </option>
                                    </select>
                                </div>

                                <div class="editar_btn">
                                    <button class="guardar_btn" type="submit">Guardar </button>
                                    <button class="regresar_btn"><a th:href="@{/profile/conf(id=${user.id})}"
                                                                    class="nav-link text-white">Regresar</a></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>