a {
    text-decoration: none;
}

.text-color-1 {
    color: #EBFFFA;
}

.bg-1 {
    background-color: lightslategray;
}

.bg-2 {
    background-color: lightcoral;
}

.bg-3 {
    background-color: lightblue;
}

.bg-4 {
    border-style: solid;
    border-width: 1px;
}

.primary-bg {
    background-color: #029270;
}

.main-bg {
    background-color: #001E17;
}

.third-bg {
    background-color: #083C30;
}

btn:hover {
    background-color: #EBFFFA !important;
}

li {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header-nav {
    display: flex;
    flex-direction: row;
    height: 110px;
    padding-left: 30px;
    padding-right: 30px;
}

.header-logo-container {
    display: flex;
    width: 15%;
    align-items: center;
}

.rebbird-logo {
    color: #EBFFFA;
    font-family: Roboto;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    transition: opacity 0.1s;
}

.rebbird-logo:hover {
    opacity: 0.9;
}

.header-category-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 15%;
}

.header-category {
    color: #EBFFFA;
    display: flex;
    border-radius: 50px;
    height: 72px;
    width: 166px;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 24px;
}

.search-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.header-search-bar {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.input-group>* {
    margin: 0 5px;
}

.search-button {
    border-radius: 50px !important;
    border-width: 0px;
    width: 40px;
    height: 40px;
    transition: background-color 0.25s !important;
}

.search-button:hover {
    background-color: #87FDE1;
}

.my-sm-0 {
    border-radius: 50px !important;
}

.mr-sm-2 {
    border-radius: 20px !important;
}

.search-icon {
    width: 26px;
    height: 26px;
}

.header-user-nolog {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 30px;
}

.user-nolog-login {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
}

.user-nolog-signin {
    font-family: Roboto;
    font-size: 24px;
}

.user-button-login {
    font-weight: bold;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #029270;
    color: #212529;
    transition: background-color 0.35s, color 0.35s;
    width: 150px;
    border: none;
}

.user-button-signin {
    font-weight: bold;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #083C30;
    color: #EBFFFA;
    transition: background-color 0.35s, color 0.35s;
    width: 150px;
    border: none;
}

.user-button-login:hover {
    background-color: #87FDE1;
    color: #212529;
}

.user-button-signin:hover {
    background-color: #87FDE1;
    color: #212529;
}

.header-user-log {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 30px;
}

.user-profile {
    display: flex;
    flex-direction: row;
}

.user-profile-btn {
    display: flex;
    background-color: #029270;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    transition: background-color 0.35s;
}

.user-profile-btn:hover {
    background-color: #87FDE1;
}

.user-profile-btn:hover>.user-profile-name {
    color: #001E17;
}

.user-profile-btn>* {
    margin: 0 5px;
}

.user-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.user-profile-name {
    display: flex;
    color: #212529;
    height: 30px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    align-items: center;
    transition: color 0.35s;
}

